Repository Wastast/learn-webgis: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write ., eslint --fix, prettier --write

deploy
  deploy.sh
  docs/.vuepress/config.ts
  package.json
Due: prettier --write ., eslint --fix

修改 deploy.sh 文件
  deploy.sh
Due: none

✨新增(custom): http 转义描述
  docs/.vuepress/menu/browser.ts
  docs/browser/conversion.md
Due: prettier --write ., eslint --fix, prettier --write

qeqh
  docs/.vuepress/config.ts
  docs/.vuepress/menu/index.ts
  docs/.vuepress/menu/navbar.ts
  docs/.vuepress/menu/webgl.ts
  docs/.vuepress/public/image/webgl/webgl_opengl.png
  docs/webgl/index.md
Due: prettier --write ., eslint --fix, prettier --write

👍修改(custom): 调整目录结构
  .lintstagedrc.json
  docs/.vuepress/config.ts
  docs/.vuepress/menu/gis.ts
  docs/.vuepress/menu/index.ts
  docs/.vuepress/menu/navbar.ts
  docs/.vuepress/menu/webgis.ts
  docs/gis/basic/resolution.md
  docs/gis/basic/s3m.md
  docs/gis/data/ortho.md
  docs/gis/data/satellite.md
  docs/gis/data/tilt.md
  docs/gis/index.md
  docs/gis/ogc/3dtiles.md
  docs/gis/ogc/kmlorkmz.md
  docs/gis/ogc/ogc.md
  docs/gis/ogc/wcs.md
  docs/gis/ogc/wms.md
  docs/gis/ogc/wmts.md
  docs/gis/ogc/wps.md
Due: prettier --write ., eslint --fix, prettier --write

✨新增(custom): gis 数据细分
  docs/gis/index.md
Due: prettier --write

✨新增(custom): cesium 本地调试
  docs/.vuepress/public/image/cesium/setup/build-watch.png
  docs/.vuepress/public/image/cesium/setup/example.png
  docs/.vuepress/public/image/cesium/setup/liveserve.png
  docs/.vuepress/public/image/cesium/setup/try.png
  docs/cesium/setup/start.md
Due: prettier --write

✨新增(custom): 新增 ogc 标准 GeoJSON
  docs/.vuepress/menu/gis.ts
  docs/gis/index.md
  docs/gis/ogc/geojson.md
  docs/gis/ogc/kmlorkmz.md
Due: prettier --write ., eslint --fix, prettier --write

✨新增(custom): 添加Entity说明
  docs/.vuepress/menu/cesium.ts
  docs/.vuepress/public/image/cesium/entity/billboard.png
  docs/.vuepress/public/image/cesium/entity/box.webp
  docs/.vuepress/public/image/cesium/entity/corridor.webp
  docs/.vuepress/public/image/cesium/entity/cylinder.webp
  docs/.vuepress/public/image/cesium/entity/ellipse.webp
  docs/.vuepress/public/image/cesium/entity/ellipsoid.webp
  docs/.vuepress/public/image/cesium/entity/fill.png
  docs/.vuepress/public/image/cesium/entity/height1.png
  docs/.vuepress/public/image/cesium/entity/height2.png
  docs/.vuepress/public/image/cesium/entity/height3.png
  docs/.vuepress/public/image/cesium/entity/iderror.png
  docs/.vuepress/public/image/cesium/entity/label.png
  docs/.vuepress/public/image/cesium/entity/model.png
  docs/.vuepress/public/image/cesium/entity/outline.png
  docs/.vuepress/public/image/cesium/entity/point.png
  docs/.vuepress/public/image/cesium/entity/point2.png
  docs/.vuepress/public/image/cesium/entity/polygon.webp
  docs/.vuepress/public/image/cesium/entity/polyline.webp
  docs/.vuepress/public/image/cesium/entity/polylineVolume.webp
  docs/.vuepress/public/image/cesium/entity/rectangle.webp
  docs/.vuepress/public/image/cesium/entity/wall.webp
  docs/.vuepress/public/image/cesium/setup/ion.webp
  docs/.vuepress/public/image/cesium/setup/ion_apply.png
  docs/.vuepress/public/image/cesium/setup/liveserve.png
  docs/.vuepress/public/image/cesium/setup/liveserve.webp
  docs/cesium/setup/imagelayer.md
  docs/cesium/setup/spacedata.md
  docs/cesium/setup/start.md
Due: prettier --write ., eslint --fix, prettier --write

✨新增(custom): 新增地形和影像的描述
  docs/.vuepress/menu/cesium.ts
  docs/cesium/setup/imagelayer.md
Due: prettier --write ., eslint --fix, prettier --write

👍修改(custom): 完善地形和影像
  docs/.vuepress/menu/cesium.ts
  docs/.vuepress/public/image/cesium/terrain/check.png
  docs/.vuepress/public/image/cesium/terrain/water.png
  docs/cesium/setup/imagelayer.md
Due: prettier --write ., eslint --fix, prettier --write

✨新增(custom): cesium粒子系统，Cesium相机
  docs/.vuepress/menu/cesium.ts
  docs/.vuepress/public/image/cesium/setup/box_emitter.gif
  docs/.vuepress/public/image/cesium/setup/bursts.gif
  docs/.vuepress/public/image/cesium/setup/camera_handle.png
  docs/.vuepress/public/image/cesium/setup/car_end.gif
  docs/.vuepress/public/image/cesium/setup/car_start.gif
  docs/.vuepress/public/image/cesium/setup/cone_emitter.gif
  docs/.vuepress/public/image/cesium/setup/emissionRate.gif
  docs/.vuepress/public/image/cesium/setup/particle_basic.gif
  docs/.vuepress/public/image/cesium/setup/sphere_emitter.gif
  docs/cesium/setup/camera copy.md
  docs/cesium/setup/camera.md
  docs/cesium/setup/particle.md
Due: prettier --write ., eslint --fix, prettier --write

Path conditions:
  prettier --write .: any of: *.{js,jsx,ts,tsx}
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.md) or (any of: *.html)) or (any of: *.{css,scss,less})
